:root{
    --lite-black:rgba(13, 18, 15, 0.7);
    --full-whilte::rgba(255,255,255,1);
    --greeedn-blue:rgb(19, 228, 211);
}

:root{
    --color-background: var(--full-whilte);
    --color-button:var(--greeedn-blue);
}

body{
    min-height: 100vh;
    transition:
        color 2s  ease-in-out,
        background-color 0.5s ease-in-out;
    background-color:  var(--color-background);
    margin: 0;
}